* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
        linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url("./assets/img-fundo.jpg") center/cover no-repeat;
    opacity: 1;
    z-index: 0;
}

header,
nav,
main,
footer {
    position: relative;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    padding: 20px auto;
    border-radius: 8px;
}

.logo-piscina {
    width: 200px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    padding: 20px;
    color: #0077b6;
    text-align: center;
}

span {
    display: block;
    font-size: 20px;
    color: #555;
    margin-top: 10px;
}

nav {
    position: relative;
    z-index: 1000;
}

#menu-btn {
    display: none;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    z-index: 9999;
    position: static;
}

.nav-link {
    display: block;
    width: 100%;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}

.link-btn {
    display: block;
    width: 100%;
    background-color: #00b4d8;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    padding: 10px;
}

.link-btn:hover {
    background-color: #0077b6;
}

h2 {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #0077b6;
    margin-bottom: 20px;
}

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px auto;

}

.card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 400px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 20px;
    background-color: #fff;
    color: #0077b6;
    margin-bottom: 10px;
    text-align: center;
}

.logo-services {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.link-icone {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 30px;
}

p {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #000;
    max-width: 750px;
    margin: 0 auto;
    padding: 5px;
}

.orcamento {
    background: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 12px;
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #333;
    margin-top: 15px;
}

.orcamento select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.orcamento button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.orcamento button:hover {
    background-color: #005f8a;
}

#resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #0077b6;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        gap: 20px;
    }

    .services {
        flex-direction: column;
        gap: 20px;
    }

    .card {
        width: 100%;
    }

    h1 {
        font-size: 40px;
    }

    span {
        font-size: 15px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    .logo-services {
        width: 90%;
    }

    p {
        font-size: 14px;
    }

    .nav-content {
        position: fixed;
        top: 0;
        left: -250px;
        width: 200px;
        height: 100vh;
        background: white;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        transition: left 0.3s ease;
        z-index: 10000;
    }

    #menu.ativo {
        left: 0;
    }

    #menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 15px;
        left: 15px;
        font-size: 18px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10001;
        width: 40px;
        height: 40px;
    }

    .orcamento {
        margin: 20px;
        max-width: 100%;
    }

    .nav-link {
        text-align: left;
        width: auto;
    }

    .link-btn {
        width: auto;
        text-align: left;
    }
}